body {
	max-width: 90%;
	max-width: 800px;
	margin: auto; /* to center the body */
}

#fixed-size-grid-items aside {
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
	width: 170px;
	margin: 10px;
}

#fixed-size-grid-items ul {
	padding: 0;
	margin: 0;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#fixed-size-grid-items li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

#stretchable-grid-items li {
	width: 100%;
	display: inline-block;
	margin: 0;
}

#stretchable-grid-items aside {
	margin: 10%;
}

@media (min-width: 480px) {
	#stretchable-grid-items li{
		width: 50%;
	}
}

@media (min-width: 640px) {
	
	html {
	background-color: #eaf6ff;
	}

	h1 {
		font-size: 2.5rem;
	}

	#stretchable-grid-items li {
		width: 25%;
	}
}


@media (max-width: 500px) {
	h1 {
		font-size: 1.5rem;
	}
}

