body {
	font-family: 'Archivo Narrow', sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, p {
	margin-top: 1;
}

h1 {
	font-size: 81px;
}

h2 {
	font-size: 30px;
	margin: -42px;
	padding:0;
	letter-spacing: 0;
}

header {
	text-align: center;
	/*background-color: rgba(0, 0, 255, 0.5);*/
	background-image: url('../images/header-bg.jpg');
	background-size: cover;
	color: white;
	margin: 0;
	padding: 0;
	height: 480px;
	padding-top: 108px;
	box-sizing: border-box;/* the entire thing is going to go into the 480px box */
}

h3 {
	text-align: center;
	font-size: 42px;
	margin-bottom: 0px;
	padding-top: 42px;
	margin: 0;
}

.center-column {
	width: 960px;/* fixed width box that doesn't shrink the text */
	margin-top: 0;
	margin: auto;
	font-size: 18px;
}

.section1 {
	background-color: rgba(46,37,118,1);
	height: 716px;
	color: white;
}

#sectionTitle1 {
	color: #e48942;
}

.center-column p {
	line-height: 25px;
	/*padding-top: 38px;*/
	margin-top: 0;
	margin-bottom: 16px;
}

.text {
	padding-top: 38px;
}

.stl-couple {
	width: 400px;
	float: right;
	margin-top: 35px;
	margin-left: 35px;
	margin-bottom: 35px;
}






