body {
	font-family: 'Archivo Narrow', sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, p {
	margin-top: 0;
}

h1 {
	font-size: 81px;
}

h2 {
	font-size: 30px;
	margin-top: -42px;
	padding:0;
	letter-spacing: 0;
}

header {
	text-align: center;
	/*background-color: rgba(0, 0, 255, 0.5);*/
	background-image: url('../images/header-bg.jpg');
	background-size: cover;
	color: white;
	margin: 0;
	padding: 0;
	height: 480px;
	padding-top: 108px;
	box-sizing: border-box;/* the entire thing is going to go into the 480px box */
}

h3 {
	text-align: center;
	font-size: 42px;
	margin-bottom: 0px;
	padding-top: 42px;
	margin: 0;
}

h4 {
	margin-bottom: 10px;
	font-size: 20px;
}

.center-column {
	width: 960px;/* fixed width box that doesn't shrink the text */
	margin-top: 0;
	margin: auto;
	font-size: 18px;
}

.section1 {
	background-color: rgba(46,37,118,1);
	height: 716px;
	color: white;
}

#sectionTitle1 {
	color: #e48942;
}

.center-column p {
	line-height: 25px;
	/*padding-top: 38px;*/
	margin-top: 0;
	margin-bottom: 16px;
}

.text {
	padding-top: 38px;
}

.stl-couple {
	width: 400px;
	float: right;
	margin-top: 35px;
	margin-left: 35px;
	margin-bottom: 35px;
}

#section2{
	background-color: rgba(132,112,233,1);
	height: 685px;
}

.box{
	width: 50%;
	display: inline-block;
	margin-bottom: 25px;
}

#sectionTitle2 {
	padding-bottom: 36px;
}

#pic1 {
	float: left;
}

#section2 img {
	margin-right: 12px;
	display: inline-block;
	float: left;
}

.box p {
	padding-right: 40px;
}

#section3 {
	background-color: rgba(46,37,118,1);
	height: 400px;
	color: #e48942;
}

#sectionTitle3{
	color: white;
}

#section3 p {
	font-size: 26px;
	padding: 0 350px 0 350px;
	text-align: center;
	margin-top: 38px;
	line-height: 35px;
}

#section4 {
	background-color: #e48942;
	height: 110px;
	color: black;
}

#section4 p {
	margin-left: 118px;
	padding-top: 42px;
	font-size: 18px;
}






