/* 1 */
header {
	margin-bottom: 3rem;
}


/* 2 */
p {
	line-height: 1.6;
}


/* 3 */
.see-all{
	size: 0.8em;
	text-transform: uppercase;
}


/* 4 */
h1 {
	font-size: 2.5rem;
}


/* 5 */
h2 {
	font-size: 1rem;
	text-transform: uppercase;
}


/* 6 */
h1 {
	font-weight: lighter;
}


/* 7 */
section.cast img {
	width: 100%;
}


/* 8 */
.cast li {
	width: 25%;
}


/* 9 */
h1 {
	margin-top: 1px;
}


/* 10 */
nav .selected {
	font-weight: bold;
	color: black;
}


/* 11 */
.cast li div {
	font-size: 0.8rem;
}


/* 12 */
.cast li div:first-of-type {
	font-weight: bold;
}


/* 13 */
.cast li div:nth-of-type(2) {
	font-style: italic;
}


/* 14 */
.seasons ul:after {
	content: "*";
}

/* 15 */
.synopsis::before{
	content: "* Final Season";
	font-size: 0.7rem;
	color:#999;
}














