a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; /* put the effective area of the link to the full page */
	z-index: 100; /* to set the link on top of everything else */ 
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
}


div {
	position: absolute;
	top: 5vw;
	bottom: 5vw;
	left: 5vw;
	right: 5vw;
}




/* Page 1 */
#page1 {
	font-family: 'Patrick Hand SC', cursive;
	font-family: 'Handlee', cursive;
	text-shadow: 0 0 10px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.3);
	color: white;
	background-image: url('../images/shark.jpg');
	background-color: #273f5e;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 15% 5%;
}

#page1 strong {
	color: red;
}

#quote1 {
	text-align: right;
	margin-right: 10vw;
	margin-top: 20vw;
	margin-left: 60vw;
	font-size: 28px;
	letter-spacing: 0.1em;

}


@media (max-width: 1024px) {
	#page1 {
		background-size: 80%;
		background-position: top center;
	}
	#quote1 {
		margin: 0;
		text-align: center;
		padding-top: 90vw;
	}

}


@media (max-width: 618px) {
	#quote1 {
		font-size: 15px;
		margin: 0;
		text-align: center;
		padding-top: 130%;
		padding-left: 15vw;
		padding-right: 15vw;
	}
	#page1 {
		background-position: top center;
		background-size: 100%;
	}
}



/* Page 2 */
#page2 {
	font-family: 'Handlee', cursive;
	color: white;
	background-image: url('../images/date.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 34%;
	letter-spacing: 0.13em;
	font-size: 22px;
	text-shadow: 0 0 20px #24103a, 0 0 20px #24103a;
}

@media (max-width: 1024px) {
	#quote2 {
		font-size: 3vw;
		padding-left: 10vw;
		padding-top: 10vw;
		padding-right: 10vw;
	}
	#page2 {
		background-position: top center;
		background-size: 100%;
	}
}

@media (max-width: 600px) {
	#page2 {
		background-position: top center;
		background-position: 30% 0%;
		background-size: 75vh;
	}
}




/* Page 3 */
#page3 {
	font-family: 'Handlee', cursive;
	color: white;
	background-image: url('../images/riverfront.jpg');
	background-size: 100vw;
	background-repeat: no-repeat;
	text-shadow: 0 0 90px #24103a, 0 0 90px #cb6a1d;
}

@media (max-width: 1024px) {
	#quote3 {
		font-size: 3vw;
		padding-left: 10vw;
		padding-top: 5vw;
		padding-right: 10vw;
	}
	#page3 {
		background-position: top center;
		background-size: 218vw;
	}
}

@media (max-width: 600px) {
	#page3 {
		background-position: top center;
		background-position: 50% 0%;
		background-size: 160vh;
	}
}










